.descriptionPageContainer{
    display: flex;
    flex-direction: row;
    padding: 5vmax;
}
.image { 
    margin: 2vmax;
}
.description > p {
    position: relative;
    top: 10%;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
